*{
    font-family: "Azeret Mono", monospace;line-height: 150%;
}

body{
    margin: 0;
    padding: 0px 150px;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

p{
    font-size: 16px;
    color: #0D1321;
    opacity: 70%;
}

h3{
    color: #0D1321;
    font-weight: 800;
    font-size: 24px;
}

button{
    cursor: pointer;
}


/* Custom Class Common Design Start Here */
.color-blue{
    color: #0D1321;
}

.section-start{
    margin-top: 90px;
}

.title{
    font-size: 32px;
    color: #0D1321;
    text-align: center;
    font-weight: 800;
    margin-bottom: 24px;

}

.description{
    font-size: 16px;
    color: #0D1321;
    text-align: center;
    margin: 0 auto 48px auto;
    width: 850px;
    opacity: 70%;
    font-weight: 400;
}




.learn-more-dark-a{
    color: #0D1321;
    font-size: 16px;
    font-weight: 700;
}

.margin-bottom-8{
    margin-bottom: 8px;
}

.margin-bottom-24{
    margin-bottom: 24px;
}




/* Header Design Start Here */
header{
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    font-size: 28px;
    text-decoration: none;
    color: #0D1321;
    font-weight: 800;
}

header button{
    color: #0D1321;
    font-size: 20px;
    background-color: white;
    border: 1px solid #0D1321;
    border-radius: 8px;
    padding: 17px 24px;
    font-weight: 600;
}

/* Hero Section Design Start Here */

.hero{
    background-image: url(images/Hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px -150px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 650px;


}

.hero-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 900px;
}

.hero-item h1{
    font-size: 48px;
    text-align: center;
    font-weight: 800;
    color: #0D1321;
}

.hero-item p{
    text-align: center;
}

.hero-item button{
    background-color: #0D1321;
    color: #fff;
    padding: 21px 24px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}

/* why-web-development-section design Start Here */

.why-web-development-section{
    background-color:  rgba(13, 19, 33, 0.02);
    padding: 80px 95px;
}

.two-side-container{
    padding: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    border-radius: 16px;
    height: 336px;
    
}

.left-to-right{
    background-image: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0) 100%);
}

.right-to-left{
    background-image: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}

.text-container{
    width: 420px;
}

.text-container h3{
    font-weight: 700;
    color: rgba(13, 19, 33, 0.70);
    margin-bottom: 16px;
}

.text-container button{
    margin-top: 32px;
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    border: 1px solid rgba(13, 19, 33, 0.7);

}

/* Inspire Section Design Start Here */
.inspire-video{
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.20);
    height: 650px;
    padding: 48px;
}

.inspire-video iframe{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 16px;
    border: none;
    outline: none;
}

/* Taget Section Design Start Here */
/* background Color for Current Target */
.bg-pink{
    background-color: rgba(255, 76, 30, 0.05);
    ;
}

.bg-aqua{
    background-color: rgba(0, 76, 232, 0.05);
    ;
}

.bg-biscuit{
    background-color: rgba(255, 223, 0, 0.05);
    ;
}

.target-container{
    display: flex;
    gap: 24px;
}

.target-content{
    padding: 40px;
    border-radius: 16px;
}

.target-content img{
    height: 56px;
    width: 56px;
    object-fit: cover;
    margin-bottom: 24px;
}

.target-content h3{
    margin-bottom: 8px;
}

.target-content p{
    margin-bottom: 24px;
}


/* Next Target Content Design Start Here */

.next-target-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.next-target-content{
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.15);
}


/* Support Section Design Start Here */
.support-section{
    background-image: url(images/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 320px;
    border-radius: 16px;
}

.overlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    height: 100%;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
}

.overlay h1{
    font-size: 32px;
    font-weight: 700;
    color:#FFF;
}

.overlay p{
    margin-bottom: 0;
    width: 600px;
    color: #FFF;
}

.input-container input{
    background-color: #FFF;
    color: #0D1321;
    font-size: 16px;
    padding: 20px;
    width: 550px;
    border-radius: 8px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    margin-right: 16px;

}

.input-container input::placeholder{
    color: rgba(13, 19, 33, 0.40);
    font-size: 16px;
}

.input-container button{
    padding: 17px 20px;
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    background-color: #FFF;
    border-radius: 8px;
}


/* Footer Design Start Here */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(13, 19, 33, 0.03);
    height: 100px;
    margin: 80px -150px 0px -150px;
    padding: 0px 150px;
}

footer h3{
    font-size: 20px;
}

.icon-container{
    display: flex;
    align-items: center;
    gap: 24px;
}